body{
    background-color: rgb(56, 68, 72);
    display: flex;
    justify-content: center;

}
.myToDoBigList{
   max-width: 100%;
   width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
.listTitle{
    font-weight: 900;
    font-size: 30px;
    font-style: italic;
    color:white;
    margin-bottom: 20px;

}
.toDoInput{
   
    width: 100%;
    max-width: 100%;
    padding: 12px 14px;
    background: none;
    border-radius: 100px;
    color: white;
}
.toDoInput:focus{
    outline: none;

}
form{
    position: relative;
    
}
.myForm{
    width: 100%;
}
.addedItem{
    position: absolute;
    top: 0;
    right: 0;
   border-radius: 100px;
   height: 100%;
   font-weight: 400;
   cursor: pointer;
   background-color: rgb(187, 204, 201);
   color: rgb(11, 92, 91);
}
#deleteTask{
    padding-left: 5px;
    width: 20px;
    background: none;
    border: none;
    padding-right: 35px;
    display: none;
}
.toDo:hover #deleteTask {
    display: inline-block; 
}
#deleteTask:hover {
    cursor: pointer; 
    opacity: 1;     
}
.customCheckBox{
    border: 2px solid;
    border-radius: 100%;
    min-height: 20px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: aquamarine;
    margin-left: 10px;
    margin-right: 10px;
}
.toDoList {
    padding: 0; 
    margin: 0;  
    list-style: none;
}
.toDo{
    margin-bottom: 5px;
    border: solid 1px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    left: 0;
    padding: 4px; 
    margin: 4px;
    width: 350px;
    color: white;
    

}
.toDoText{
    padding: 10px;
    padding-right: 0;
    flex-grow: 1;
    margin-left: 10px;
}

